.App {
  margin-bottom: 0;
  background: radial-gradient(blue 1%,rgb(7, 7, 138) 5%,darkgoldenrod 35%,darkgreen 60%);
  text-align: center;
}

.App-logo {
  animation: bounce infinite 3s linear;
  height: 80px;
}


.App-header {
  height: 180px;
  padding: 40px;
}

.App-title {
  color: black;
  animation: rubberBand infinite 4s linear;
  font-family: 'Cabin Sketch', cursive;
  font-size: 40px;
}

.App-intro {
  font-size: large;
}


.Output{
  
  font-size: 24px;
  padding: 20px;
  position: relative;
}

.Input{

  position: relative;
}

.Footer{
  height: 20px;
  margin-bottom: 0;
  margin-top: 80px;
  justify-content: center;
}
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}